{{#if error}}
<h3>{{error}}</h3>
{{/if}}

<div>
<h1>Hi! If you want to update any information you've given us so far, here's the chance!</h1>

<img id ="unsplash" src="/unsplash.jpg" alt="Fernsehturm mit Dronen">

<form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 40%; height: 50%;">
        <div class = "edit">{{#rows}}
        <input type='text' id="first" name='first' value="{{first}}" autocomplete="off"><span>Firstname</span><br>
        <input type='text' id='last' name='last' value="{{last}}" autocomplete="off"><span>Lastname</span><br>
        <input type='text' id='email' name='email' value="{{email}}"  autocomplete="off"><span>E-Mail</span><br>
        <input type='text' id='password' name="password" autocomplete="off"><span>Password</span><br>
        <input type='text' id='age' name='age' value="{{age}}" autocomplete="off"><span>Age</span><br>
        <input type='text' id='city' name='city' value="{{city}}" autocomplete="off"><span>Office</span><br>
        <input type='text' id='url' name='url' value="{{url}}"  autocomplete="off"><span>url</span><br>
        </div>{{/rows}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="submit-button">Update!</submit>
</form>

