{{#if error}}
<h3>{{error}}</h3>
{{/if}}



<div>
<h1>Hi!! If you want to update any information you've given us so far, here's the chance!</h1>

<img id ="unsplash" src="/unsplash.jpg" alt="Fernsehturm mit Dronen">

<form id = "edit" method='POST' >

<table>{{#rows}}
  <tr>
    <td>Firstname</td>
    <td><input type='text' id="first" name='first' value="{{first}}" autocomplete="off"></td>
    <td>Lastname</td>
    <td><input type='text' id='last' name='last' value="{{last}}" autocomplete="off"></td>
  </tr>
  <tr>
    <td>e-mail</td>
    <td><input type='text' id='email' name='email' value="{{email}}"  autocomplete="off"></td>
    <td>Password</td>
    <td><input type='password' id='password' name="password" autocomplete="off"></td>
  </tr>
  <tr>
    <td>Age</td>
    <td><input type='text' id='age' name='age' value="{{age}}" autocomplete="off"></td>
    <td>Office</td>
    <td><input type='text' id='city' name='city' value="{{city}}" autocomplete="off"></td>
  </tr>
 <tr>
    <td>Url</td>
    <td><input type='text' id='url' name='url' value="{{url}}"  autocomplete="off"></td>
  </tr>
</table>{{/rows}}
<div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="submit-button">Update!</submit>
</div>
</form>


