
<p>
Dearest coders who know how to programme drones. <br>
If you want to become even more of a hero than you already
are, <br>
you would make us entirely happy if you told your drones 
to send us stuff. <br>
We cannot even begin to tell you how grateful we would be.
</p>
<img src="/hero.jpg">

<p>Yours sincerely...</p>
<div class="signers">{{#rows}}
{{#if url}}
<p>
 <a href = {{url}}> {{first}} {{last}}</a> {{age}} 
 <a id="click" href="{{city}}">{{city}}</a> 
 </p>
 {{else}}
 <p>
 {{first}} {{last}} {{age}} {{city}}
 </p>
 {{/if}}
{{/rows}}
</div>
